<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ .Description }}",
        "inLanguage" : "en-US",
        "author" : "{{ range .Site.Author }}{{ . }}{{ end }}",         
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
    }
</script>